HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
mvnw.cmd
mvnw
.mvn
/customer-api/mvnw
/customer-api/mvnw.cmd
/customer-api/.mvn
/customer-core/mvnw
/customer-core/mvnw.cmd
/customer-core/.mvn
/customer-core/target
/customer-core/customer-core.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
