<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bruce.shardingjdbc.customer.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.bruce.shardingjdbc.customer.entity.UserEntity" >
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age" />
        <result column="status" property="status" />
    </resultMap>
    <sql id="userColumnSql" >
        user_id,
        user_name,
        sex,
        age,
        status
    </sql>

    <select id="queryUserList" resultMap="BaseResultMap" >
        select
         <include refid="userColumnSql"></include>
        from user u
        where
          1 = 1
        <if test="userQuery.userId !=null" >
            and u.user_id = #{userQuery.userId}
        </if>
        <if test="userQuery.userName !=null and userQuery.userName != ''" >
            and u.user_name like concat('%', #{userQuery.userName},'%')
        </if>
        <if test="userQuery.sex !=null" >
            and u.sex = #{userQuery.sex}
        </if>
        <if test="userQuery.age !=null" >
            and u.age = #{userQuery.age}
        </if>
        <if test="userQuery.status !=null" >
            and u.status = #{userQuery.status}
        </if>
    </select>
</mapper>